#buy {
  width: 40%;
  max-width: 550px;
  padding: 1em 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buy > p {
  font-size: 1.1em;
}

#buy form {
  padding: 0;
  width: 100%;
  max-width: 400px;
}

@media only screen and (max-width: 900px) {
  #buy {
    width: 80%;
  }
}
