#transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#transactions > div {
  width: 40em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.5em;
  border-color: #d0d0cf;
  border-width: thin;
  border-style: none none solid;
}

.transaction {
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transaction > p {
  margin: 0.5em 0 1em;
}

small {
  align-self: flex-start;
  margin: 1em 0 0;
}

.error {
  color: red;
}
