#transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 600px;
  padding: 1em;
}

#transactions > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-color: #d0d0cf;
  border-width: thin;
  border-style: none none solid;
}

.transaction {
  font-size: 1.1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transaction > p {
  margin: 0.5em 0 1em;
}

small {
  align-self: flex-start;
  margin: 1em 0 0;
}

.error {
  color: red;
}

@media only screen and (max-width: 640px) {
  .transaction {
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0 1em;
  }

  .transaction > p {
    margin: 0;
  }

  small {
    align-self: center;
    margin-bottom: 0;
  }
}
